@import "../styles/theme";
@import "../styles/svgIcons";

.checkboxInput {
  cursor: pointer;
  width: 20px;
  height: 20px;

  .checkboxControl {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 0.25em;
    border: 0.1em solid var(--outline);
    background-color: $white;
  }

  .checkboxControl > .iconCheckbox {
    @include svg($icon-checkbox-svg, 'transparent', $primary, '6');
    content: '';
    display: block !important;

    margin: 0;
    width: 20px;
    height: 20px;
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left;
  }

  & > input {
    width: 24px;
    height: 24px;

    display: none;
    &:checked + .checkboxControl .iconCheckbox {
      transform: scale(1);
    }
  }
}
